<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Круговая диаграмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   var arr=new Array({{question.choice_set.count}});
   var str = ('');
   var i = 1;
   var arr = [
     ['Газ', 'Объём'],
    ];
    {% for choice in question.choice_set.all %}
    {
     str='{{ choice.choice_text }}';
     arr[i]= [str,{{ choice.votes }}];
     i++;
    };
     {% endfor %}
   function drawChart() {
    var data = google.visualization.arrayToDataTable(arr);
    var options = {
     title: '{{question.question_text}}' ,
     is3D: true,
     pieResidueSliceLabel: 'Остальное'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
  </script>
 </head>
 <body>
  <div id="air" style="width: 500px; height: 400px;"></div>
 </body>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
 {% endfor %}



</html>